@{
    ViewData["Title"] = "Joel's Media Library";
}

<!-- 
    Adam Neumiller 
    Section 3

    This program converts assignment #3 to a SQLite database, and adds an edit and delete button to the program.
    
    This is the Index page data, see Layout.cshtml for the full view-->
<div class="text-center">
    <h1 class="display-4">Welcome to Joel's Media Library</h1>
    <img src="~/img/JoelHilton.jpg" />
    <p>Joel Hilton: Movie Critic and Podcaster. </p>
</div>
