@{
    ViewData["Title"] = "Joel's Media Library";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Joel's Media Library</h1>
    <img src="~/img/JoelHilton.jpg" />
    <p>Joel Hilton: Movie Critic and Podcaster. </p>
</div>
